* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-section {
  height: 92vh;
  width: 100%;
  background: linear-gradient(to left, #1488cc, #2b32b2);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}
.img-one {
  width: 600px;
}
i {
  color: white;
  margin-top: 30px;
}

.links,
a {
  margin-right: 20px;
}

.intro {
  color: white;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding-left: 20px;
}
.first-intro {
  font-size: 3rem;
  margin-bottom: 10px;
}
.second-content {
  margin: auto;
  display: flex;
  justify-content: center;
  max-width: 50%;
}
.summary-text {
  text-align: justify;
  line-height: 40px;
}
.intro-text {
  clip-path: inset(0 100% 0 0);
  animation-name: introAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

@keyframes introAnimation {
  10% {
    clip-path: inset(0 90% 0 0);
  }

  20% {
    clip-path: inset(0 80% 0 0);
  }

  40% {
    clip-path: inset(0 60% 0 0);
  }

  70% {
    clip-path: inset(0 30% 0 0);
  }

  100% {
    clip-path: inset(0 0% 0 0);
  }
}

.personal-summary {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
.display {
  opacity: 1;
}

@import "_contact.scss";
@import "_skills.scss";
